@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);

    --font-destaque: 'Manrope', sans-serif;

    --Weights500: 500;
    --Weights700: 700;
}

html{
    font-size: 62.5%;
}

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-family: var(--font-destaque);
}

body{
    background-color: var(--Light-Grayish-Blue);
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

main{
    background-color: white;
    width: 90vw;
    height: 50rem;
    border-radius: 1rem;
    overflow: hidden;
}

section{

}

.image{
    height: 20rem;
}

.image img{
    width: 100%;
    height: 100%;
}

.info{
    
}

.info h1{

}

.info p{

}

.profile{

}

.profile h1{
    
}

.profile h2{
    
}

.submit{

}

footer{
    text-align: center;
    text-decoration: none;
    color: var(--White);
    font-weight: 300;
}